<template>
  <v-card :class="$breakpoint.is.smAndDown ? 'my-12 pl-12 pr-3':'my-12'" color="transparent" elevation="0" min-width="80vw">
    <div class="d-flex align-start">
      <div class="d-flex flex-row align-center ml-n11 mr-2 pt-2">
        <span class="blue--text ">{{ numeroPregunta }}</span>
        <v-icon color="blue font-weight-bold">
          mdi-arrow-right
        </v-icon>
      </div>
      <div>
        <span v-html="textoPrincipal" class="headline color-de-texto" />
        <p :style="{'color':'rgba(51, 63, 72, 0.7)'}" v-html="textoSecundario" class="mt-1" />
      </div>
    </div>
    <v-combobox
      id="texto-input-seleccion"
      :style="{'background':'transparent'}"
      v-model="texto_escrito"
      :items="opciones"
      @keyup="actualiza()"
      :label="textoLabel"
      item-color="transparent"
      hide-details
      single-line
      filled
      class="blue--text input-text mt-4 pr-9 title"
    >
      <template v-slot:item="{ index, item }" :style="{'background':'transparent'}">
        <v-btn @click="actualiza(item)" :outlined="texto_escrito != item" :depressed="texto_escrito == item" block color="blue">
          <div :style="{'width':'100%'}" class="d-flex align-start justify-space-between">
            <span class="font-weight-black">{{ item }}</span>
            <v-icon v-show="texto_escrito == item">
              mdi-check-outline
            </v-icon>
          </div>
        </v-btn>
      </template>
    </v-combobox>
    <div :class="$breakpoint.is.xsOnly ? 'mt-6 mb-12 d-flex flex-column align-start' : 'mt-6 mb-12 d-flex align-center'" :style="{'height':'52px'}">
      <v-btn @click="$store.commit('adelante', true);$store.commit('numero_diapositiva', $store.getters.numero_diapositiva + 1)" v-show="tiene_texto_escrito" elevation="1" x-large color="rgb(255, 88, 93)">
        <span :style="{'color':'rgb(88, 0, 3)'}" class="text-capitalize">
          <strong>
            {{ textoBoton }} <v-icon>mdi-check</v-icon>
          </strong>
        </span>
      </v-btn>
      <span v-show="tiene_texto_escrito && $breakpoint.is.smAndUp" class="color-de-texto caption ml-3">
        pulsa
        <strong>Enter ↵</strong>
      </span>
    </div>
  </v-card>
</template>

<script>

export default {
  props: {
    textoPrincipal: {
      type: String,
      default: ''
    },
    textoSecundario: {
      type: String,
      required: false,
      default: ''
    },
    textoBoton: {
      type: String,
      default: 'Ok'
    },
    textoLabel: {
      type: String,
      default: ''
    },
    numeroPregunta: {
      type: Number,
      default: 2
    },
    opciones: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      texto_escrito: this.$store.getters.preguntas[this.numeroPregunta - 1].texto_escrito,
      tiene_texto_escrito: this.$store.getters.preguntas[this.numeroPregunta - 1].texto_escrito !== ''
    }
  },
  methods: {

    actualiza (textoOpcion) {
      if (textoOpcion) {
        this.tiene_texto_escrito = true
        this.$store.commit('preguntas', [ this.numeroPregunta - 1, { contestada: textoOpcion !== '', texto_escrito: textoOpcion } ])
      } else {
        try {
          const auxText = document.getElementById('texto-input-seleccion').value
          this.tiene_texto_escrito = auxText !== ''
          this.$store.commit('preguntas', [ this.numeroPregunta - 1, { contestada: auxText !== '', texto_escrito: auxText } ])
        } catch (err) {
          this.tiene_texto_escrito = false
        }
      }
    }
  }

}
</script>

<style>
.color-de-texto{
  color: #333F48 !important;
}
/* Color del label */
.theme--dark.v-label{
  color:rgba(33, 150, 243, 0.5) !important;
}
/* Color de la letra una vez escrito */
.theme--dark.v-input input, .theme--dark.v-input textarea {
  color: #2196F3 !important;
}
.theme--dark.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: rgba(33, 150, 243, 0.5) !important;
}
/* Editamso estilo dle combo box */
.theme--dark.v-list{
  background: rgba(251, 247, 244, 0.6) !important;
  color: #2196F3 !important;
}
#app > div.v-menu__content.theme--dark.menuable__content__active.v-autocomplete__content {
border-bottom: 2px dashed rgb(0, 119, 200);
}
/* Evitamos que la expansion tenga sombras */
.v-menu__content {
  box-shadow: none !important;
}

</style>
