<template>
  <v-card :class="$breakpoint.is.smAndDown ? 'my-12 pl-12 pr-3':'my-12'" color="transparent" elevation="0" min-width="80vw">
    <div class="d-flex align-start">
      <div class="d-flex flex-row align-center ml-n11 mr-2 pt-2">
        <span class="blue--text ">{{ numeroPregunta }}</span>
        <v-icon color="blue font-weight-bold">
          mdi-arrow-right
        </v-icon>
      </div>
      <div>
        <span v-html="textoPrincipal" class="headline color-de-texto" />
        <p :style="{'color':'rgba(51, 63, 72, 0.7)'}" v-html="textoSecundario" v-if="textoSecundario" class="mt-1 mb-0" />
        <p :style="{'color':'rgb(0, 119, 200)'}" v-if="opcionesValidas > 1 || opcionesValidas === -1" class="font-regular caption mb-0">
          {{ opcionesValidas > 1 ?
            opcion_seleccionada.length == 0 ? 'Puedes escoger hasta ' + opcionesValidas :
            opcion_seleccionada.length == opcionesValidas ? 'Hecho!' :
            'Puedes escoger ' + (opcionesValidas - opcion_seleccionada.length) + ' más' :
            'Elige tantas opciones como desees'
          }}
        </p>
      </div>
    </div>
    <v-radio-group v-model="opcion_seleccionada" :multiple="opcionesValidas > 1 || opcionesValidas === -1" hide-details>
      <v-row :class="$breakpoint.is.smAndDown ? 'd-flex justify-center ml-n12 ml-n3':'d-flex justify-center'">
        <v-col
          v-for="(opcion, index) in opciones"
          :key="opcion.value"
          cols="12"
          sm="6"
          lg="4"
        >
          <v-card
            @mouseup.native="almacena_opcion_seleccionada()"
            @click="aux(opcion.value)"
            elevation="0"
            class="image-card"
          >
            <div class="d-flex flex-column">
              <v-img :src="image_path + opcion.imagen" :style="{'border-radius':'5px'}" class="mx-5 mt-5" aspect-ratio="1" />
              <v-radio
                @mouseup.native="pulsado_radio=true"
                :value="opcion.value"
                :on-icon="'mdi-alpha-' + alphabet[index] + '-box'"
                :off-icon="'mdi-alpha-' + alphabet[index] + '-box'"
                class="image-select mt-1"
              >
                <template v-slot:label>
                  <div class="dark-blue">
                    {{ opcion.texto }}
                  </div>
                </template>
              </v-radio>
            </div>
          </v-card>
        </v-col>
        <v-col
          v-if="otraOpcion"
          cols="12"
          sm="6"
          lg="4"
        >
          <v-card
            @mouseup.native="almacena_opcion_seleccionada()"
            @click="aux('otro')"
            elevation="0"
            class="image-card"
          >
            <div class="d-flex flex-column px-5 pt-5">
              <div class="wrapper">
                <div :style="{'background-color':'rgba(0, 119, 200, 0.1)', 'border-radius':'5px'}" class="main d-flex align-center justify-center">
                  <v-icon color="rgb(0, 119, 200)">
                    mdi-pencil
                  </v-icon>
                </div>
              </div>
              <v-radio
                @mouseup.native="pulsado_radio=true"
                :on-icon="'mdi-alpha-' + alphabet[opciones.length] + '-box'"
                :off-icon="'mdi-alpha-' + alphabet[opciones.length] + '-box'"
                value="otro"
                class="image-select mt-1 mx-n5"
              >
                <template v-slot:label>
                  <div v-if="opcion_seleccionada !== 'otro' && !opcion_seleccionada.includes('otro') && texto_escrito === ''" class="dark-blue">
                    {{ otraOpcion }}
                  </div>
                  <v-text-field
                    @input="actualiza"
                    v-if="opcion_seleccionada === 'otro' || opcion_seleccionada.includes('otro') || texto_escrito !== ''"
                    v-model="texto_escrito"
                    autofocus
                    hide-details
                    single-line
                    filled
                    class="blue--text input-text mt-0 ml-n3 text-field-radio-button"
                  />
                </template>
              </v-radio>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-radio-group>
    <div :class="$breakpoint.is.xsOnly ? 'mt-6 mb-12 d-flex flex-column align-start' : 'mt-6 mb-12 d-flex align-center'" :style="{'height':'52px'}">
      <v-btn @click="$store.commit('adelante', true);$store.commit('numero_diapositiva', $store.getters.numero_diapositiva + 1)" v-show="opcion_seleccionada != '' && (opcion_seleccionada != 'otro' || texto_escrito != '')" elevation="1" x-large color="rgb(255, 88, 93)">
        <span :style="{'color':'rgb(88, 0, 3)'}" class="text-capitalize">
          <strong>
            {{ textoBoton }} <v-icon>mdi-check</v-icon>
          </strong>
        </span>
      </v-btn>
      <span
        v-show="opcion_seleccionada != '' && (opcion_seleccionada != 'otro' || texto_escrito != '') && $breakpoint.is.smAndUp"
        class="color-de-texto caption ml-3"
      >
        pulsa
        <strong>Enter ↵</strong>
      </span>
    </div>
  </v-card>
</template>

<script>

export default {
  props: {
    textoPrincipal: {
      type: String,
      default: ''
    },
    textoSecundario: {
      type: String,
      required: false,
      default: null
    },
    textoBoton: {
      type: String,
      default: ''
    },
    numeroPregunta: {
      type: Number,
      default: 4
    },
    opciones: {
      type: Array,
      default () {
        return []
      }
    },
    otraOpcion: {
      type: String,
      required: false,
      default: ''
    },
    opcionesValidas: {
      type: Number,
      default: 1
    }
  },
  data () {
    return {
      image_path: process.env.image_path,
      opcion_seleccionada: Object.assign([], this.$store.getters.preguntas[this.numeroPregunta - 1].opcion_seleccionada),
      aux_opcion_seleccionada: [],
      pulsado_radio: false,
      texto_escrito: this.$store.getters.preguntas[this.numeroPregunta - 1].texto_escrito,
      alphabet: 'abcdefghijklmnopqrstuvwxyz'.split('') }
  },
  methods: {
    almacena_opcion_seleccionada () {
      this.aux_opcion_seleccionada = this.opcion_seleccionada
    },
    aux (value) {
      if (this.opcionesValidas === 1) {
        this.opcion_seleccionada = value
      } else if (this.aux_opcion_seleccionada.includes(value)) {
        this.opcion_seleccionada.splice(this.opcion_seleccionada.indexOf(value), 1)
      } else if (this.aux_opcion_seleccionada.length === this.opcionesValidas) {
        if (this.pulsado_radio) {
          this.opcion_seleccionada.splice(this.opcion_seleccionada.indexOf(value), 1)
        }
      } else if (!this.pulsado_radio) {
        this.opcion_seleccionada.push(value)
      }

      this.$store.commit('preguntas', [ this.numeroPregunta - 1,
        { contestada: this.opcion_seleccionada.length >= 2 || (this.opcion_seleccionada.length === 1 && ((this.opcion_seleccionada === 'otro' || this.opcion_seleccionada.includes('otro')) <= (this.texto_escrito !== ''))),
          opcion_seleccionada: this.opcion_seleccionada,
          texto_escrito: this.texto_escrito } ])
      this.pulsado_radio = false
    },
    actualiza (auxText) {
      this.$store.commit('preguntas', [ this.numeroPregunta - 1,
        { contestada: this.opcion_seleccionada.length >= 2 || (this.opcion_seleccionada.length === 1 && ((this.opcion_seleccionada === 'otro' || this.opcion_seleccionada.includes('otro')) <= (this.texto_escrito !== ''))),
          opcion_seleccionada: this.opcion_seleccionada,
          texto_escrito: auxText } ])
    }
  }

}
</script>

<style>
.color-de-texto{
  color: #333F48 !important;
}
.image-card{
  border-color: rgb(0, 119, 200)!important;
  background-color:  rgba(0, 119, 200, 0.1) !important;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.dark-blue{
  color:rgb(0, 119, 200) !important;
}
/* Añade elementos a todos los radio buttons menos el seleccionado */
.image-select > div > .v-icon.notranslate.mdi.theme--dark:not(.primary--text){
  background-color: rgb(0, 119, 200);
  border-radius: 4px;
}
.image-select > div > .v-icon.notranslate.mdi.theme--dark.primary--text{
  background-color: white;
  border-radius: 4px;
}
/* Div que simula al radio button */
.radio-div{
  font-size: 28px;
  height: 50px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/* Evitamos que la linea del text field aparezca */
.blue--text.v-input.text-field-radio-button > .v-input__control > .v-input__slot:before {
  border-color: transparent !important;
}
.blue--text.v-input.text-field-radio-button > .v-input__control > .v-input__slot:after {
  border-color: transparent !important;
}

.text-field-radio-button > .v-input__control > .v-input__slot > .v-text-field__slot > input{
  font-size:28px;
  color:rgb(0, 119, 200) !important;
}
.wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 100%;
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
  /* let's see it! */
  color: white;
}
</style>
