<template>
  <v-card :class="$breakpoint.is.smAndDown ? 'my-12 pl-12 pr-3':'my-12'" color="transparent" elevation="0" min-width="80vw">
    <div class="d-flex align-start">
      <div class="d-flex flex-row align-center ml-n11 mr-2 pt-2">
        <span class="blue--text ">{{ numeroPregunta }}</span>
        <v-icon color="blue font-weight-bold">
          mdi-arrow-right
        </v-icon>
      </div>
      <div>
        <span v-html="textoPrincipal" class="headline color-de-texto" />
        <p :style="{'color':'rgba(51, 63, 72, 0.7)'}" v-if="textoSecundario" v-html="textoSecundario" class="mt-1" />
      </div>
    </div>
    <v-text-field
      @input="actualiza"
      v-model="texto_escrito"
      :label="textoLabel"
      hide-details
      single-line
      filled
      color="red"
      class="blue--text input-text mt-4 pr-9 title"
    />
    <div :class="$breakpoint.is.xsOnly ? 'mt-6 mb-12 d-flex flex-column align-start' : 'mt-6 mb-12 d-flex align-center'" :style="{'height':'52px'}">
      <v-btn @click="$store.commit('adelante', true);$store.commit('numero_diapositiva', $store.getters.numero_diapositiva + 1)" v-show="texto_escrito != ''" elevation="1" x-large color="rgb(255, 88, 93)">
        <span :style="{'color':'rgb(88, 0, 3)'}" class="text-capitalize">
          <strong>
            {{ textoBoton }} <v-icon>mdi-check</v-icon>
          </strong>
        </span>
      </v-btn>
      <span v-show="texto_escrito != '' && $breakpoint.is.smAndUp" class="color-de-texto caption ml-3">
        pulsa
        <strong>Enter ↵</strong>
      </span>
    </div>
  </v-card>
</template>

<script>

export default {
  props: {
    textoPrincipal: {
      type: String,
      default: ''
    },
    textoSecundario: {
      type: String,
      required: false,
      default: null
    },
    textoBoton: {
      type: String,
      default: 'Muy Bien'
    },
    textoLabel: {
      type: String,
      default: ''
    },
    numeroPregunta: {
      type: Number,
      default: 1
    }
  },
  data () {
    return {
      texto_escrito: this.$store.getters.preguntas[this.numeroPregunta - 1].texto_escrito
    }
  },
  methods: {
    actualiza (auxText) {
      this.$store.commit('preguntas', [ this.numeroPregunta - 1, { contestada: auxText !== '', texto_escrito: auxText } ])
    }
  }
}
</script>

<style>
.color-de-texto{
  color: #333F48 !important;
}
/* Color del label */
.theme--dark.v-label{
  color:rgba(33, 150, 243, 0.5) !important;
}
/* Color de la letra una vez escrito */
.theme--dark.v-input input, .theme--dark.v-input textarea {
  color: #2196F3 !important;
}
.theme--dark.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: rgba(33, 150, 243, 0.5);
}
.v-input .v-label{
  max-height: 40px !important;
  height: 50px !important;
  line-height: 22px !important;
  font-size: 28px;
}
.v-input__control > .v-input__slot > .v-text-field__slot > input{
  max-height: 40px !important;
  max-height: 40px !important;
  height: 50px !important;
  line-height: 22px !important;
  font-size: 28px;
}
</style>
