<template>
  <v-card :class="$breakpoint.is.smAndDown ? 'my-12 px-8':'my-12'" color="transparent" elevation="0" min-width="80vw">
    <span v-html="textoPrincipal" class="headline color-de-texto" />
    <div :style="{'color':'rgba(51, 63, 72, 0.7)'}" v-html="textoSecundario" v-if="textoSecundario" class="mt-n1 mb-4" />
    <div :class="$breakpoint.is.xsOnly ? 'mt-6 mb-12 d-flex flex-column align-start' : 'mt-6 mb-12 d-flex align-center'">
      <v-btn @click="$store.commit('adelante', true);$store.commit('numero_diapositiva', $store.getters.numero_diapositiva + 1)" elevation="1" x-large color="rgb(255, 88, 93)">
        <span :style="{'color':'rgb(88, 0, 3)'}" class="text-capitalize">
          <strong>
            {{ textoBoton }}
          </strong>
        </span>
      </v-btn>
      <span v-show="$breakpoint.is.smAndUp" class="color-de-texto caption ml-3">
        pulsa
        <strong>Enter ↵</strong>
      </span>
    </div>
  </v-card>
</template>

<script>

export default {
  props: {
    textoPrincipal: {
      type: String,
      default: ''
    },
    textoSecundario: {
      type: String,
      required: false,
      default: null
    },
    textoBoton: {
      type: String,
      default: 'Muy Bien'
    }
  }
}
</script>

<style>
.color-de-texto{
  color: #333F48 !important;
}

</style>
