<template>
  <div :class="$breakpoint.is.xsOnly ? 'd-flex justify-space-between align-center px-2 div-botones-xs' : 'd-flex justify-space-between align-center px-12 div-botones-grande'">
    <v-card class="d-flex flex-column px-3 py-1" color="rgba(251, 247, 244, 0.8)" elevation="0">
      <strong :style="{'color':'rgb(176, 112, 64)'}" class="overline font-weight-medium">
        {{ preguntas.length > 0 ? preguntas.filter(pregunta => pregunta.contestada ).length + " de " + preguntas.length + " respondidas" : "No hay preguntas" }}
      </strong>
      <v-progress-linear
        :style="{'border-radius':'4px', 'max-width':'500px'}"
        :value="preguntas.length > 0 ? preguntas.filter(pregunta => pregunta.contestada ).length / preguntas.length * 100 : 0"
        color="rgb(176, 112, 64)"
        height="4"
        reactive
      />
    </v-card>

    <div class="d-flex">
      <v-btn
        :style="{'border-top-right-radius':'0px', 'border-bottom-right-radius':'0px', 'border-right-style':'solid', 'border-right-color': 'rgb(88, 0, 3)'}"
        @click="$store.commit('adelante', false);$store.commit('numero_diapositiva', numero_diapositiva - 1)"
        :disabled="numero_diapositiva==0"
        color="rgb(255, 88, 93)"
        large
        class="mr-0"
      >
        <v-icon color="rgb(88, 0, 3)" x-large>
          mdi-chevron-up
        </v-icon>
      </v-btn>
      <v-btn
        :style="{'border-top-left-radius':'0px', 'border-bottom-left-radius':'0px','border-left-style':'solid', 'border-left-color': 'rgb(88, 0, 3)', 'border-left-width':'0px'}"
        @click="$store.commit('adelante', true);$store.commit('numero_diapositiva', numero_diapositiva + 1)"
        :disabled="total_diapositivas==(numero_diapositiva+1)"
        color="rgb(255, 88, 93)"
        large
      >
        <v-icon color="rgb(88, 0, 3)" x-large>
          mdi-chevron-down
        </v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'preguntas',
      'numero_diapositiva',
      'total_diapositivas'
    ])
  }
}
</script>

<style>
.div-botones-grande{
  position:fixed;
  bottom: 15px;
  min-width:100vw;

}
.div-botones-xs{
  position:fixed;
  bottom: 15px;
  min-width:100vw;
  background-color:rgba(251, 247, 244, 0.8);
  border-radius:4px;
}

</style>
