<template>
  <v-app :style="{'background-color':'#FBF7F4'}">
    <v-content>
      <v-container :style="{'min-height':'100vh'}" class="d-flex align-center justify-center">
        <nuxt />
        <progreso-preguntas />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import ProgresoPreguntas from '~/components/ProgresoPreguntas.vue'

export default {
  components: {
    ProgresoPreguntas
  }
}
</script>
