<template>
  <section class="ma-0 pa-0">
    <transition :name="adelante ? 'router-anim' : 'router-anim-inverse'">
      <texto
        v-if="diapositivas.length > 0 && diapositivas[numero_diapositiva]['estilo'] == 'texto'"
        :textoPrincipal="diapositivas[numero_diapositiva].texto_principal"
        :textoSecundario="diapositivas[numero_diapositiva].texto_secundario"
        :textoBoton="diapositivas[numero_diapositiva].texto_boton"
      />
      <texto-imagen
        v-if="diapositivas.length > 0 && diapositivas[numero_diapositiva]['estilo'] == 'texto-imagen'"
        :textoPrincipal="diapositivas[numero_diapositiva].texto_principal"
        :textoSecundario="diapositivas[numero_diapositiva].texto_secundario"
        :textoBoton="diapositivas[numero_diapositiva].texto_boton"
        :imagen="diapositivas[numero_diapositiva].imagen_texto_imagen"
      />
      <cita
        v-if="diapositivas.length > 0 && diapositivas[numero_diapositiva]['estilo'] == 'cita'"
        :textoPrincipal="diapositivas[numero_diapositiva].texto_principal"
        :textoSecundario="diapositivas[numero_diapositiva].texto_secundario"
        :textoBoton="diapositivas[numero_diapositiva].texto_boton"
      />
      <pregunta-escribir
        v-if="diapositivas.length > 0 && diapositivas[numero_diapositiva]['estilo'] == 'pregunta-escribir'"
        :textoPrincipal="diapositivas[numero_diapositiva].texto_principal"
        :textoSecundario="diapositivas[numero_diapositiva].texto_secundario"
        :textoBoton="diapositivas[numero_diapositiva].texto_boton"
        :textoLabel="diapositivas[numero_diapositiva].texto_label"
        :numeroPregunta="diapositivas[numero_diapositiva].numero_pregunta"
      />
      <pregunta-escribir-seleccionar
        v-if="diapositivas.length > 0 && diapositivas[numero_diapositiva]['estilo'] == 'pregunta-escribir-seleccionar'"
        :textoPrincipal="diapositivas[numero_diapositiva].texto_principal"
        :textoSecundario="diapositivas[numero_diapositiva].texto_secundario"
        :textoBoton="diapositivas[numero_diapositiva].texto_boton"
        :textoLabel="diapositivas[numero_diapositiva].texto_label"
        :numeroPregunta="diapositivas[numero_diapositiva].numero_pregunta"
        :opciones="diapositivas[numero_diapositiva].diapositiva_opcion_texto.map( opcion => opcion['texto'])"
      />
      <pregunta-seleccionar
        v-if="diapositivas.length > 0 && diapositivas[numero_diapositiva]['estilo'] == 'pregunta-seleccionar'"
        :textoPrincipal="diapositivas[numero_diapositiva].texto_principal"
        :textoSecundario="diapositivas[numero_diapositiva].texto_secundario"
        :textoBoton="diapositivas[numero_diapositiva].texto_boton"
        :numeroPregunta="diapositivas[numero_diapositiva].numero_pregunta"
        :opciones="diapositivas[numero_diapositiva].diapositiva_opcion_texto"
        :opcionesValidas="diapositivas[numero_diapositiva].opciones_validas"
        :otraOpcion="diapositivas[numero_diapositiva].otra_opcion"
      />
      <pregunta-seleccionar-imagen
        v-if="diapositivas.length > 0 && diapositivas[numero_diapositiva]['estilo'] == 'pregunta-seleccionar-imagen'"
        :textoPrincipal="diapositivas[numero_diapositiva].texto_principal"
        :textoSecundario="diapositivas[numero_diapositiva].texto_secundario"
        :textoBoton="diapositivas[numero_diapositiva].texto_boton"
        :numeroPregunta="diapositivas[numero_diapositiva].numero_pregunta"
        :opciones="diapositivas[numero_diapositiva].diapositiva_opcion_texto_imagen"
        :opcionesValidas="diapositivas[numero_diapositiva].opciones_validas"
        :otraOpcion="diapositivas[numero_diapositiva].otra_opcion"
      />
      <h1 v-if="diapositivas.length == 0" class="color-de-texto">
        NO HAY DIAPOSITIVAS
      </h1>
    </transition>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import Texto from '~/components/formulario/Texto.vue'
import TextoImagen from '~/components/formulario/TextoImagen.vue'
import Cita from '~/components/formulario/Cita.vue'
import PreguntaEscribir from '~/components/formulario/PreguntaEscribir.vue'
import PreguntaEscribirSeleccionar from '~/components/formulario/PreguntaEscribirSeleccionar.vue'
import PreguntaSeleccionar from '~/components/formulario/PreguntaSeleccionar.vue'
import PreguntaSeleccionarImagen from '~/components/formulario/PreguntaSeleccionarImagen.vue'

export default {
  components: {
    Texto,
    TextoImagen,
    Cita,
    PreguntaEscribir,
    PreguntaEscribirSeleccionar,
    PreguntaSeleccionar,
    PreguntaSeleccionarImagen
  },
  data () {
    return {
      diapositivas: [
        { 'estilo': 'texto' },
        { 'estilo': 'texto-imagen' },
        { 'estilo': 'cita' },
        { 'estilo': 'pregunta-escribir' },
        { 'estilo': 'pregunta-escribir-seleccionar' },
        { 'estilo': 'pregunta-seleccionar' },
        { 'estilo': 'pregunta-seleccionar-imagen' }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'numero_diapositiva',
      'adelante'
    ])
  },
  async asyncData ({ $axios, params, store }) {
    // eslint-disable-next-line no-return-await
    const diapositivasData = await $axios.$get('/api/diapositivas/')
    store.commit('total_diapositivas', diapositivasData.length)
    return {
      diapositivas: diapositivasData
    }
  },
  mounted () {
    window.addEventListener('keydown', this.pressedKey, false)
  },
  destroyed () {
    window.removeEventListener('keydown', this.pressedKey, false)
  },
  methods: {
    pressedKey (e) {
      if ((e.keyCode === 13 || e.keyCode === 40) && this.$store.getters.numero_diapositiva < 6) {
        this.$store.commit('adelante', true)
        this.$store.commit('numero_diapositiva', this.$store.getters.numero_diapositiva + 1)
      } else if (e.keyCode === 38 && this.$store.getters.numero_diapositiva > 0) {
        this.$store.commit('adelante', false)
        this.$store.commit('numero_diapositiva', this.$store.getters.numero_diapositiva - 1)
      }
    }
  }
}
</script>
<style >
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css";
.router-anim-enter-active {
  animation: coming 1s;
  animation-delay: 0.6s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going 0.6s;
}

@keyframes going {
  from {
    transform: translateY(0);
    opacity: 0.7;
  }
  to {
    transform: translateY(-240px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.router-anim-inverse-enter-active {
  animation: coming-inverse 1s;
  animation-delay: 0.6s;
  opacity: 0;
}
.router-anim-inverse-leave-active {
  animation: going-inverse 0.6s;
}

@keyframes going-inverse {
  from {
    transform: translateY(100px);
    opacity: 0.7;
  }
  to {
    transform: translateY(340px);
    opacity: 0;
  }
}
@keyframes coming-inverse {
  from {
    transform: translateY(-400px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
</style>
