// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'sans-serif';
$heading-font-family: 'Oswald';
$font-size-root: 24px;
@import '~vuetify/src/styles/styles.sass';